* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */
.max-width-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

header {
  min-height: 50%;
}

strong {
  color: hsl(160deg, 100%, 30%);
}
