* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */
.max-width-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 48px;
  /* background-color: yellow; */
}

header {
  min-height: 50%;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  max-width: fit-content;
  margin-left: -16px;
  padding: 8px 16px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}
